{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "SCHEDULE_NCRONTAB": "0 */10 * * * *",
    "LOOKBACK_MS": "900000",

    "RVNC_API_KEY": "<your-realvnc-access-key>",
    "RVNC_API_KEY_ID": "<your-realvnc-access-key-id>",

    "DCR_IMMUTABLE_ID": "<dcr-immutable-id>",
    "DCE_ENDPOINT": "https://<dcr-or-dce>.<region>.ingest.monitor.azure.com"
  }
}
